<?xml version="1.0" ?>
<launch>

    <!-- Load initial state and tracker parameters into the tracker node's namespace from file -->
    <group ns="mtt_node">
        <rosparam file="$(find ros_multitarget_tracking)/config/tracker_params.yaml" />
    </group>

    <!-- Launch multitarget tracker node -->
    <node name="mtt_node" pkg="ros_multitarget_tracking" type="multitarget_tracker" output="screen" /> 

</launch>